@import './bassplate';

body {
  font-family: "Lato",SF UI Text,Roboto,Helvetica Neue,Helvetica,sans-serif;
  color: #444;
}

pre {
  border: 1px solid #eee;
  overflow-y: auto;
  font-family: 'Fira Mono',Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

pre code {
  background: inherit;
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 0;
}

code {
  border-radius: 3px;
  font-family: 'Fira Mono', monospace;
  background: #f3f3f3;
  display: inline-block;
  padding: 0.25em 0.5em;
}

/* TODO: Move to src/styles/Section.css after installing CSS modules */
.hint {
  padding: 0.5em 1em;
  border: 1px solid #eee;
  border-left-width: 1em;
}
