code[class*="language-"],
pre[class*="language-"] {
  font-family: 'Fira Mono',Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code[class*="language-"] {
  background: none;
}

pre[class*="language-"] {
  margin: 0 0 1em;
  border-radius: 3px;
  border: 1px solid rgba(225, 235, 255, 1);
  overflow-y: auto;
  background: rgba(225, 235, 255, 0.2);
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  background-color: highlight;
  color: highlighttext;
}
